@charset "UTF-8";


@font-face {
	font-family: 'Omnes';
	src: url('omnes/omnes-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Omnes';
	src: url(//:) format('no404'), url('omnes/omnes-webfont.woff') format('woff'), url('omnes/omnes-webfont.ttf') format('truetype'), url('omnes/omnes-webfont.svgz#webfont7KKm1GDX') format('svg'), url('omnes/omnes-webfont.svg#webfont7KKm1GDX') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OmnesSemibold';
	src: url('omnes/omnes-semibold-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OmnesSemibold';
	src: url(//:) format('no404'), url('omnes/omnes-semibold-webfont.woff') format('woff'), url('omnes/omnes-semibold-webfont.ttf') format('truetype'), url('omnes/omnes-semibold-webfont.svgz#webfontLYO9Iqk4') format('svg'), url('omnes/omnes-semibold-webfont.svg#webfontLYO9Iqk4') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OmnesMedium';
	src: url('omnes/omnes-medium-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OmnesMedium';
	src: url(//:) format('no404'), url('omnes/omnes-medium-webfont.woff') format('woff'), url('omnes/omnes-medium-webfont.ttf') fomnes/ormat('truetype'), url('omnes/omnes-medium-webfont.svgz#webfontJP2STGaP') format('svg'), url('omnes-medium-webfont.svg#webfontJP2STGaP') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OmnesBold';
	src: url('omnes-bold-webfont.eot');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'OmnesBold';
	src: url(//:) format('no404'), url('omnes-bold-webfont.woff') format('woff'), url('omnes-bold-webfont.ttf') format('truetype'), url('omnes-bold-webfont.svgz#webfontPwQObCc8') format('svg'), url('omnes-bold-webfont.svg#webfontPwQObCc8') format('svg');
	font-weight: bold;
	font-style: normal;
}



body {
	background-color: #FFF;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	font-family:"Omnes",Helvetica, Arial, sans-serif;
	color:#333;
	font-size:16px;
}

#wrapper {
	width:960px;
	margin:0 auto;
	background:url(images/phone.png) 0 60px no-repeat;
}

/**************** DETAILS & STYLES **************/

h3 {
	color:#666;
	font-weight:normal;
}

a {
	color:#52156B;
	font-family:"OmnesSemibold", Helvetica, Arial, sans-serif;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

a:hover {
	background-color:#eee;
	text-shadow:1px 1px 2px #666;
}

a img {
	border:none;
}

strong {
	font-family:"OmnesSemibold", Helvetica, Arial, sans-serif;
	font-weight:normal;
}

.arrows ul {
	margin-top:25px;
}

.arrows li {
	list-style:url(images/bullet-arrow.png);
	line-height:25px;
	font-size:18px;
}

.clearfix {
	clear:both;
}

/*************** NAVIGATION  *******************/

#nav ul {
	width:425px;
	float:right;
	margin:5px 0;
	font-size:12px;
	padding-bottom:10px;
}
	#nav ul li {
		float:left;
		padding:0 10px;
		list-style:none;
	}
	
	#nav ul li a {
		color: #eee6f2;
		font-family:"Omnes",Helvetica, Arial, sans-serif;
		letter-spacing:1px;
		text-shadow:1px 1px #000;
		text-decoration:none;
		padding:3px 15px;
		background-color: #420A52;
		-moz-border-radius: 4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-transition:all 0.2s linear;
		-webkit-transition:all 0.2s linear;
		transition:all 0.2s linear;
		
	}
	
	#nav ul li a:hover {
		box-shadow:0 0 3px #fff;
		-webkit-box-shadow: 0 0 3px #fff;
		-moz-box-shadow: 0 0 3px #fff;
		background-color:#5a0e70;
		color:#fff;
	}
	
	#nav ul li.twitter a, #footer ul li.twitter a {
		display:block;
		height:20px;
		width:20px;
		background:url(images/twitter-off.png) no-repeat;
		background-color:none;
		padding:0;
		margin-top:-3px;
	}
	
#footer {
	margin:10px 0 20px;
}

	#footer ul {
		width:380px;
		float:right;
		margin:5px 0;
		font-size:12px;
		padding-bottom:10px;
	}
	#footer ul li {
		float:left;
		padding:0 10px;
		list-style:none;
	}
	
	#footer ul li a {
		color: #a682be;
		font-family:"Omnes",Helvetica, Arial, sans-serif;
		letter-spacing:1px;
		text-decoration:none;
		padding:3px 15px;
		background-color: #eee6f2;
		-moz-border-radius: 4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-transition:all 0.2s linear;
		-webkit-transition:all 0.2s linear;
		transition:all 0.2s linear;
		
	}
	
	#footer ul li a:hover {
		box-shadow:0 0 3px #8e60ad;
		-webkit-box-shadow: 0 0 3px #8e60ad;
		-moz-box-shadow: 0 0 3px #8e60ad;
		background-color:#cebadb;
		color:#8e60ad;
	}
	
	#builtby a {
		display:block;
		background:url(images/builtby.png) no-repeat;
		height:30px;
		width:140px;
		float:left;
	}
	
	#builtby a:hover {
		background:url(images/builtby-over.png) no-repeat;
		display:block;
		height:30px;
		width:140px;
	}
	

	
/************ HOMEPAGE   **************/
	
#home-left {
	width:960px;
	float:left;
	height:400px;
	padding-top:20px;
}

	#home-left h1 {
		background:url(images/logo.png) no-repeat;
		width:396px;
		height:75px;
		display:block;
	}
	
	#home-left h1 a {
		text-indent:-9000px;
		display:block;
		height:75px;
		width:396px;
	}
	
	#home-left h1 a:hover {
		background:none;
	}
	
	#home-left h2 {
		margin:0;
		color:#333;
		text-shadow:1px 1px 2px #fff;
	}
	
	#appstore {
		margin-bottom:35px;
	}
	
	#appstore img {
		float:left;
		margin-right:10px;
	}
	
	#appstore p {
		margin-top:25px;
	}
	
	#appstore .price {
		margin-top:20px;
		color:#52156B;
		font-size:26px;
		font-family:"OmnesSemibold", Helvetica, Arial, sans-serif;
		text-shadow:1px 1px 1px #fff;
	}
	
	#appstore .version {
		font-size:11px;
		font-style:italic;
		color:#686868;
	}
	
	

/****************  PAGE LAYOUTS ****************/

#full-width {
	clear:left;
	width:960px;
	padding:20px 0 20px;
}

#footer {
	padding:20px;
}
	
/**************  FORMS  *************/

/* Typography */
.wufoo .info h2{font-size:160%;color: #b698Ca; font-family:"Omnes",Helvetica, Arial, sans-serif;}
.wufoo .info div{font-size:95%;font-family:inherit;color:#444444}
.wufoo .section h3{font-size:110%;font-family:inherit;background:#FFFFFF;color: #b698Ca;}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;color: #b698Ca;}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:inherit;color:#333333}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:inherit;color:#444444
}
